export ADMIN_USERNAME=blackbird
export ADMIN_PASSWORD=ZGerQDD2rGKeQGvFEaK5LqbU
export ADMIN_EMAIL=karim@blackbird.ai
export RABBITMQ_DEFAULT_USER=blackbird
export RABBITMQ_DEFAULT_PASS=jhFuPQLAR61N3G5FvkzlLHfm
export POSTGRES_USER=blackbird
export POSTGRES_PASSWORD=UKLzHjSpc5ze5yrrNp4LYqsb
export POSTGRES_DB=blackbird
export ACME_EMAIL=naushad@blackbird.ai
export DOMAIN_NAME=annotate.apiblackbird.com