export ADMIN_USERNAME=blackbird
export ADMIN_PASSWORD=4zPuQVLDArcNdJ1bozd4kghr
export ADMIN_EMAIL=karim@blackbird.ai
export RABBITMQ_DEFAULT_USER=blackbird
export RABBITMQ_DEFAULT_PASS=UPgJcnbD4mXOBJUz2kf4kW84
export POSTGRES_USER=blackbird
export POSTGRES_PASSWORD=H7jxGLyfIjrrHVZPk7jGKME6
export POSTGRES_DB=blackbird